<html lang="en">
<head>
     <style>

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 90px; 
  width: 100px;
  height: 10px;  
}  


    .login-form {
      width: 300px;
      margin: 0 auto;
      font-family: Tahoma, Geneva, sans-serif;
    }

    .login-form h1 {
      text-align: center;
      color: #4d4d4d;
      font-size: 24px;
      padding: 20px 0 20px 0;
    }

    .login-form input[type="password"],
    .about input[type="text"] {
      width: 100%;
      padding: 15px;
      border: 1px solid #3416a0;
      margin-bottom: 15px;
      box-sizing: border-box;
    }


    #backg {
      width: 100%;
      padding: 15px;
      background-color: #424d58;
      border: 0;
      box-sizing: border-box;
      cursor: pointer;
      font-weight: bold;
      color: #ffffff;
    }
  
    </style>

    <title>about</title>
</head>
<body >
    <center>
<form style="text-align-last: center;">
  <br><br><br><br>
  
<p id="backg" > <bold><br>created by sepehr pourkhojasteh</p></bold>
</form>

</center>
</body>
</html>