<html lang="en">
<head>
     <style>

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 90px; 
  width: 100px;
  height: 10px;  
}  
    </style>

    <title>about</title>
</head>
<body style="background-color:powderblue;">
    <center>


<p id="rcorners1" > <bold><br>creat by sepehr pourkhojasteh</p></bold>
</center>
</body>
</html>