<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>

<form action="/auth" method="post">
username: <input type="text" name="uname"><br>
password: <input type="text" name="upass"><br>
<input type="submit" value="login">
</form>


    {{>footer}}
</body>
</html>