<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
    
</head>
<style>
   
   #rcorners1 {
  border-radius: 25px;
  border: 2px solid rgb(173, 33, 45);
  padding: 20px; 
  width: 200px;
  height: 150px;  
}

#rcorners3 {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

</style>
<center>
<body>
<form action="/register" method="post">
<!--
for connect to other page use <form action="/register" method="post"> then you are connect to register page 
and to registerpage use the bodyparser let username = request.body.username;
    -->

    
    <script>alert("لطفا اطلاعات خود را وارد کنید");</script>
    <table id = "rcorners1">

    <tr>
        <th>  username: <input type="text" name="username" placeholder="insert unic ID">  </th>
    </tr>
    <tr>
        <th> personalCode: <input type="text" name="personalCode" placeholder="personalCode">  </th>
    </tr>
    <tr>
        <th> firstName: <input type="text" name="firstName" placeholder="firstName">  </th>
    </tr>
    <tr>
        <th>  familyName: <input type="text" name="familyName"placeholder="familyName"> </th>
    </tr>
    <tr>
        <th>   phoneNumber : <input type="number" name="phoneNumber" placeholder="phoneNumber"> </th>
    </tr>
    <tr>
        <th>    Email: <input type="email" name="Email" placeholder="Email"> </th>
    </tr>
    <tr>
        <th> brithDay: <input type="date" name="brithDay" placeholder="brithDay">  </th>
    </tr>
    <tr>
        <th>   Password: <input type="password" name="Passwords" placeholder="Password"> </th>
   
    </tr>
    <tr>
        <th>  <input type="submit" value="Submit"></th>
   
    </tr>


    
</form>

</body>
</html>